body {
    margin: 0;
    background-color: #73C5B7;
    color: white;
}

div {
    box-sizing: border-box;
}

.full-background-paper {
    width: 100%;
    color: white;
}

header {
    text-align: center;
    margin-top: 5%;
    margin-bottom: -10px;
}

header h4 {
    margin-bottom: 0;
}

header h2 {
    margin: 0;
    padding: 0;
}

.user-inputs {
    width: 100%;
    padding: 30px;
    margin: auto;
}

label {
    font-weight: bold;
    font-size: 16px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #73C5B7;
    border-radius: 5px
}

.user-input-Privacy {
    width: 100%;
    padding: 10px;
}

.btns {
    margin-top: 10%;
    text-align: center;
}

.btn {
    display: inline-block;
    margin: 0 5px;
    background-color: white;
    color: #73C5B7;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-register, .btn-cancel {
    float: none;
    color: #03806b;
}

.btn-cancel {
    background-color: grey;
    color: #333;
    font-style: #fff;
}

.img {
    width: 100%;
}

.fa {
    cursor: pointer;
    position: absolute;
    padding: 0.5%;
}

.test-class {
    position: relative;
}

#password {
    width: 100%;
}

#InputPassword {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 65%;
    transform: translateY(-50%);
    font-size: 20px; 
    color : black
}

#InputConfirmPassword {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 65%;
    transform: translateY(-50%);
    font-size: 20px; 
    color : black
}

button:hover {
    background-color: #73C5B7;
    color: white;
    transform: translateY(2px);
}

#passwordError {
    color: red;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
}

#passwordConfirmError {
    color: red;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
}

.username-check {
    display: inline-block;
    cursor: pointer;
    color: #73C5B7;
    font-weight: bold;
    background-color: white;
    border: none;
    border-radius: 5px;
}

.username-check:hover {
    background-color: 73C5B7;
    border: none;
}