absl-py
annotated-types
anyio
asgiref
astunparse
bcrypt
black
cachetools
certifi
cffi
charset-normalizer
click
colorama
contourpy
cryptography
cycler
decorator
distro
Django
django-environ
djangorestframework
ffmpeg-python
flatbuffers
fonttools
future
gast
google-api-core
google-auth
google-auth-oauthlib
google-cloud-core
google-cloud-speech
google-cloud-storage
google-crc32c
google-pasta
google-resumable-media
googleapis-common-protos
grpcio
grpcio-status
h11
h5py
httpcore
httpx
idna
imageio
imageio-ffmpeg
keras
kiwisolver
libclang
Markdown
MarkupSafe
matplotlib
ml-dtypes
moviepy
mypy-extensions
mysqlclient
numpy
oauthlib
openai
opencv-python
opt-einsum
packaging
paramiko
pathspec
Pillow
platformdirs
proglog
proto-plus
protobuf
pyasn1
pyasn1-modules
pycparser
pydantic
pydantic_core
PyNaCl
pyparsing
python-dateutil
pytz
requests
requests-oauthlib
rsa
six
sniffio
sqlparse
storage
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
tqdm
typing_extensions
tzdata
urllib3
Werkzeug
wrapt
